.bg-light {
  background-color: #4b8ce0 !important;
}

.text-box {
  display: inline-block;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  border-color: #ccc;
  border-radius: 0;
  background: #eee;
  height: 100px;
}

.main-contents {
  padding: 20px;
  min-height: calc(100vh - 56px - 62px);
}

.accordion{
  margin-top: 20px;
}

.accordion-body p {
  margin-top: 5px;
}

.genre {
  width: 100%;
  text-align: right;
  padding: 5px;
  font-size: 13px;
  text-decoration: none;
}
.genre a {
  text-decoration: none;
  margin-left: 5px;
  color: #555555;
}

footer {
  display: flex;
  color: white;
  font-size: 10px;
  height: 62px;
}
footer .navbar {
  width: 100%;
}
footer .container-fluid {
  width: 100%;
}
footer p {
  width: 100%;
  text-align: center;
}

footer a {
  color: #212121!important;
  text-decoration: none;
  text-align: left;
  font-size: 5px!important;
}
