.bg-light {
  background-color: #1668d2 !important;
}

.main-contents {
  padding: 20px;
}

.accordion{
  margin-top: 20px;
}

.accordion-body p {
  margin-top: 5px;
}

.genre {
  width: 100%;
  text-align: right;
  padding: 5px;
  font-size: 13px;
  text-decoration: none;
}
.genre a {
  text-decoration: none;
  margin-left: 5px;
  color: #555555;
}

footer {
  display: flex;
  color: white;
  font-size: 10px;
}
footer .navbar {
  width: 100%;
}
footer .container-fluid {
  width: 100%;
}
footer p {
  width: 100%;
  text-align: center;
}
