.bg-light {
  background-color: #b3d4fc!important;
}

.main-contents {
  padding: 20px;
}

.accordion{
  margin-top: 20px;
}

.accordion-body{
  overflow: hidden;
}
.accordion-body p {
  margin-top: 5px;
}

.genre {
  float: right;
  padding: 5px;
  font-size: 13px;
  text-decoration: none;
}
.genre a {
  text-decoration: none;
  color: #555555;
}

footer {
  display: flex;
  color: white;
  font-size: 10px;
}
footer .navbar {
  width: 100%;
}
footer .container-fluid {
  width: 20%;
}
